<!-- Set from config but allow override -->
{% set discourse = config.extra.discourse %}
{% if page and page.meta and page.meta.topicid is number %}
  {% set topicid = page.meta.topicid %}
{% endif %}

<!-- Discourse integration -->
{% if discourse and topicid %}
  <h2 id="__comments">Comments & Questions</h2>
  <p class="mb-5">For more tips & tricks join our <a href = {{ discourse }} target="_blank">community forums</a>! 👋</br>If you have any questions about the information on this page let us know below! 👇</p>
  <div id="discourse-comments"></div>
  <script type="text/javascript">
    window.DiscourseEmbed = { discourseUrl: '{{ discourse }}', discourseEmbedUrl: '{{ page.canonical_url }}' };
    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
{% endif %}
